#!/bin/sh

# This lets you have multiple ssh configs
alias ssh='cat ~/.ssh/config.d/* >~/.ssh/config; ssh'

alias jingle='cat /dev/urandom | hexdump -v -e '"'"'/1 "%u\n"'"'"' | awk '"'"'{ split("0,2,4,5,7,9,11,12",a,","); for (i = 0; i < 1; i+= 0.0001) printf("%08X\n", 100*sin(1382*exp((a[$1 % 8]/12)*log(2))*i)) }'"'"' | xxd -r -p | aplay -c 2 -f S32_LE -r 16000 2> /dev/null'
alias jingle10='cat /dev/urandom | hexdump -v -e '"'"'/1 "%u\n"'"'"' | awk '"'"'{ split("0,2,4,5,7,9,11,12",a,","); for (i = 0; i < 1; i+= 0.0001) printf("%08X\n", 100*sin(1382*exp((a[$1 % 8]/12)*log(2))*i)) }'"'"' | xxd -r -p | timeout --foreground 10 aplay -c 2 -f S32_LE -r 16000 2> /dev/null'

alias p='popd'

alias ll='ls -l --group-directories-first'
alias la='ls -A --group-directories-first'
alias lh='ls -lh --group-directories-first'
alias l='ls -CF --group-directories-first'
alias lla='ls -lA --group-directories-first'

# colorful ls/dir/grep
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
    alias zgrep='zgrep --color=auto'
fi

alias psm='ps aux | grep'
alias nwd='notify-send "JOB COMPLETE"'
alias uuid4='uuid -v 4'

alias df='df -T'
alias dfh='df -Th'

alias ka='sudo killall -15'
alias kan='sudo killall -9'

alias wi='whois -H'

alias ga='git add'
alias gb='git branch'
alias gc='git checkout'
alias gcl='git clone'
alias gd='git diff'
alias gdh='git diff HEAD'
alias gdc='git diff --cached'
alias gds='git diff --stat'
alias gf='git fetch'
alias gg='git grep'
alias ggi='git grep -i'
alias gl='git log'
alias gls='git log --stat'
alias glp='git log -p --stat'
alias gmend='git commit --amend'
alias gm='git commit -m'
alias gma='git commit -am'
alias gp='git push'
alias gpu='git pull'
alias gra='git remote add'
alias grr='git remote rm'
alias gs='git status -s'
alias gst='git stash'
alias gstp='git stash show -p'
alias gt='git tag'

alias di='docker images'
alias dp='docker ps'
alias dpa='docker ps -a'
alias dk='docker kill'
alias dka='docker kill $(docker ps -q)'
alias dr='docker run -it --rm --net host'
alias dcleanp='docker rm $(docker ps -a -q -f status=exited)'  # removes all stopped containers
alias dcleani='docker rmi $(docker images -q -f dangling=true)'  # removes all untagged images

alias tiqssh='ssh -i ~/.ssh/TalkIQKeyPair2015-06-30.pem -l ubuntu'
