alias p='popd'

alias ll='ls -l --group-directories-first'
alias la='ls -A --group-directories-first'
alias lla='ls -lA --group-directories-first'
alias lh='ls -lh --group-directories-first'
alias l='ls -CF --group-directories-first'
alias lah='ls -lah --group-directories-first'
alias lash='ls -laSh --group-directories-first'

# colorful ls/dir/grep
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
    alias zgrep='zgrep --color=auto'
fi

alias psg='ps -ef | grep'
alias nwd='notify-send "JOB COMPLETE"'
alias duh='du -h -d 1 . | sort -n'
alias c='pygmentize -g'

alias df='df -T'
alias dfh='df -Th'

alias ga='git add'
alias gb='git branch'
alias gd='git diff'
alias gdw='git diff --word-diff=color'
alias gdh='git diff HEAD'
alias gdc='git diff --cached'
alias gds='git diff --stat'
alias gf='git fetch'
alias gg='git grep'
alias ggi='git grep -i'
alias gl='git log'
alias gls='git log --stat'
alias glp='git log -p --stat'
alias gmend='git commit --amend'
alias gm='git commit -m'
alias gma='git commit -am'
alias gp='git push'
alias gpu='git pull'
alias gs='git status -s'
alias gst='git stash'
alias gstp='git stash show -p'
alias gt='git tag'

alias di='docker images'
alias dp='docker ps'
alias dpa='docker ps -a'
alias dk='docker kill'
alias dka='docker kill $(docker ps -q)'
alias de='docker exec -it'
alias dr='docker run -it --rm --net host'

if [ "$ZSH_NAME" != '' ]; then
    ALIAS_FLAGS="-g"
else
    ALIAS_CMD=""
fi

alias $ALIAS_FLAGS dcmp='docker compose'
alias $ALIAS_FLAGS dcu='docker compose up'
alias $ALIAS_FLAGS dcb='docker compose build'
alias $ALIAS_FLAGS dcr='docker compose run --rm --service-ports'
