[core]
	excludesfile = ~/.gitignore

[user]
	name = Aaron Adelson
	email = aaronsadelson@gmail.com

[color]
	ui = auto

[alias]
	br = branch
	ci = commit
	co = checkout
	df = diff
	pl = pull
	ps = push
	st = status -s
	lg = log --stat
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

	last = cat-file commit HEAD
	merge = merge --no-ff
	unmerged = diff --name-only --diff-filter=U
	branches = branch -a
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
	fuckit = reset --hard

[log]
        mailmap = yes

[rerere]
	enabled = 0

[push]
	default = current

[merge]
	tool = meld

[diff]
	staged = yes
	algorithm = patience
	mnemonicprefix = yes
