[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Feh
Comment=
Exec=feh --bg-fill /home/aaron/wallpaper --xinerama-index 0
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

